body {
    background-color: #AAAAAA;
}

::placeholder {
    color: #555555;
    opacity: 100%;
}

::-ms-input-placeholder {
    color: #555555;
}

input {
    color: #000000;
    font-family: monospace;
}

button {
    color: #000000;
    font-family: monospace;
}

.hr-br {
    opacity: 0;
}

.txt-test {
    width: 60vw;
    background-color: #FFFFFF;
}

.txt-okay {
    width: 60vw;
    background-color: #55FF55;
}

.txt-fail {
    width: 60vw;
    background-color: #FF5555;
}

.txt-lhs {
    width: 10vw;
}

.txt-rhs {
    width: 40vw;
}

#main-content {
    position: absolute;
    top: 10vh;
    left: 20vw;
    width: 60vw;
}

#scroll-anchor {
    height: 100vh;
    width: 100vw;
}